name: GitHub Metrics
on:
  schedule:
    - cron: '0 0 * * *' 
  workflow_dispatch:
  push:
    branches:
    - main

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: ssanchezhlg
          base: header, metadata, activities
          config_timezone: America/Havana
          plugin_languages: yes
          plugin_languages_threshold: 0%
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_trophies: yes
          plugin_trophies_threshold: C